@font-face {
  font-family: "VCROSDMONO";
  src: url("/assets/fonts/VCR_OSD_MONO_1001.ttf");
}

body {
  background-image: url("/assets/textures/water.jpg");
  background-size: 40px;
  background-position: right;
  image-rendering: pixelated;
  animation-name: bgPos;
  animation-timing-function: steps(8);
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  font-family: "VCROSDMONO";
  text-rendering: geometricPrecision;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

@keyframes bgPos {
  from {
    background-position: 0px;
  }
  to {
    background-position: 40px;
  }
}
